.mainboxs{
    background-color: black;
    padding: 10px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
.boxypart{
    width: calc(100vw - 25vw);
    height: 100vh;
    border-radius: 10px;
    background-color: #121212;
    /* padding: 10px; */
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.inputbox{
    border: 2px solid white;
    padding: 0px 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
}
.inputbox input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    /* border: 1px  solid white; */
    color: white;
    width: 350px;
}
.inputbox i{
    background-color: transparent !important;
}
.headerpart{
    /* position: fixed; */
    overflow: hidden;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    /* background-color: black; */
}
.icons{
    display: flex;
    align-items: center;
}
.headerpart .icons i{
    padding: 5px  !important;
    background-color: black;
    color: gray;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 0px 5px;
}
.buttons .sign{
    color: gray;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 10px;
    margin-right: 10px;
    transition: all  ease-in-out;
}
.buttons .sign:hover{
    color: white;
}
.buttons .loginbtn{
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    /* font-size: 1.rem; */
    font-weight: 700;
}
.songlist{
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    background: linear-gradient(to bottom,#1f1f1f,#181818, #000000);
}
.rowflexy{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0px 35px;
}
.rowflexy h1{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
.rowflexy p{
    color: gray;
    font-weight: 700;
}
.cartboxflexys{
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cartboxflexys .boxs1{
    width: 230px;
    height: 230px;
    margin: 10px;
    border-radius: 20px;
    transition: all ease-in-out .5s;
    overflow: hidden;
}

.boxs1 img{
    width: 100%;
    height: 100%;
    /* margin: 10px auto; */
    object-fit: cover;
    /* border-radius: 20px; */
}

